* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(250, 243, 221);
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
/* creating banner to sit centrally  */
#hero-banner {
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  height: 30%;
  width: 30%;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(11, 82, 91);
}
/* Adding banner to page  */
header {
  position: relative;
  height: 400px;
  overflow: hidden;
}
/* adding image to header */
header img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* adding central area for text to go over the header */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
  padding: 0px;
  border-radius: 100px; /* adding rounded corners*/
}

/* adding navigation menu */
.menu {
  background-color: rgb(39, 38, 64);
  text-align: right;
  flex-wrap: nowrap; /* moving menu to be "thumb friendly for mobile users */
  width: 100%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}

/* Change background color on hover */
.menu a:hover {
  background-color: rgb(62, 31, 71);
}

@media screen and (max-width: 900px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }
}
/* Adding main body of page as a row format  */
.page-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adding space between sections */
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

/* adding a simple line to section off section titles and text */
.title {
  border-right: 2px solid;
  padding-right: 100px;
  white-space: nowrap;
}

h2 {
  flex: 1;
}

.content {
  flex: 10; /*Content box spacing */
  border: 1px solid #ccc;
  padding: 20px;
  margin-left: 50px; /* Adding space between title and content */
  font-family: sans-serif;
}

.about-me {
  grid-area: about-me;
  min-height: 400px;
  flex-basis: 50%;
  text-align: center;
}

/* Adding footer to complete page */
footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(104, 176, 171);
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
